@import "tailwindcss";

input,
textarea,
[draggable="true"] {
  user-select: text;
}

#preview-teks,
pre {
  user-select: text;
}

html,
body {
  padding-right: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  /* scrollbar-gutter: stable !important; */
}

#app,
main,
.container {
  max-width: 100%;
  min-height: 100vh !important;
  overflow-x: hidden;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

button,
a {
  cursor: pointer;
}